table{
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse:collapse; */
    width: 100%;
}
th,td{
    border: 1px solid;
    text-align: center;
    padding: 8px;
    /* border-radius: 5px; */
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:nth-child(odd){
    background-color: #cff;
}